/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff9a3c;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #fff4e0;
}

.btn-menu, .btn-call, .btn-buy {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Food Cards */
.food-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    overflow: hidden; /* Обрізає зайве */
}

    .card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 8px 8px 0 0; /* Закруглені кути зверху */
    }

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}
